In [1]:
import pandas as pd 
import numpy as np 
from sklearn.metrics import mean_squared_error

In [2]:
dataframe = pd.read_csv('../data/msft_raw.csv', index_col='DATE', usecols=['DATE','OPCP','HPCP','LPCP','CPCP','ACPCP','VTCP', 'MPN5P'])

dataframe.head()

,OPCP,HPCP,LPCP,CPCP,ACPCP,VTCP,MPN5P
DATE,,,,,,,
2000-02-29,45.87500,45.875000,44.43750,44.68750,27.880445,58437400,46.765625
2000-03-01,44.81250,47.046875,44.46875,45.40625,28.328880,106889800,47.070312
2000-03-02,45.90625,47.687500,45.56250,46.68750,29.128248,106932600,47.656250
2000-03-03,47.37500,49.437500,46.93750,48.06250,29.986110,101435200,48.000000
2000-03-06,48.00000,48.687500,45.06250,45.31250,28.270390,93609400,48.750000

In [3]:
train_end = '2022-10-28'
train = dataframe.loc[:train_end,:]
test = dataframe.loc[train_end:,:].drop(train_end,axis=0)

print('Train shape: ', train.shape)
print('test shape', test.shape)

Train shape:  (5705, 7)
test shape (172, 7)

In [4]:
def split_series(dataframe,n_past,n_future):
    series = dataframe.values
    X,y = list(),list()
    for window_start in range(len(series)):
        past_end = window_start + n_past
        future_end = past_end + n_future    
        if future_end > len(series):
            break
        past, future = series[window_start:past_end, :], series[past_end:future_end, :]
        X.append(past)
        y.append(future)

    return np.array(X),np.array(y)

In [5]:
n_past = 100
n_future = 1

X_train, y_train = split_series(train,n_past,n_future)
print(f'X train shape {X_train.shape} y_train shape {y_train.shape}')

X train shape (5605, 100, 7) y_train shape (5605, 1, 7)